/* CSS Document */

body { background-color: #fff; font-family: "Microsoft YaHei", Arial, sans-serif; margin: 0; padding: 0; }
#outer { width:100%; height: auto; overflow: hidden; }
#topbar { padding: 20px 90px; width: 800px; height: 308px; }
.stepOne { width: 360px; margin:40px auto 0px; }
.stepTwo { width: 440px;  }
#username input { background: url("/statics/img/cn/form/login.gif") repeat scroll -26px -18px transparent; border: medium none; color: #999999; font-size: 20px; height: 30px; padding:11px 30px 11px 60px; line-height: 30px; width: 260px; font-family:"微软雅黑"; outline: none; }
#username input.focus { background-position: -454px -18px; }
#password { margin-top: 10px; }
#password input { background: url("/statics/img/cn/form/login.gif") repeat scroll -26px -82px transparent; border: medium none; color: #999999; font-size: 20px; height: 30px; padding:11px 30px 11px 60px; line-height: 30px; width: 260px; font-family:"微软雅黑"; outline: none; }
#password input.focus { background-position: -453px -82px; }

#codeContainer { margin-top:13px;}
#codeContainer input { background: url("/statics/img/cn/form/login.gif") repeat scroll -26px -246px transparent; border: medium none; color: #999999; font-size: 20px;  height: 30px; padding:11px 30px 11px 60px; line-height: 30px; width: 260px; font-family:"微软雅黑"; outline: none; }
#codeContainer input.focus { background-position: -453px -246px; }

.do { float: left; width: 340px; height: 45px; background: url("/statics/img/cn/form/login.gif") repeat scroll -26px -160px transparent; padding-top: 20px; }
.do.on { background-position: -454px -160px; }
.do a { display: block; width: 120px; height: 25px; float: left; margin-left: 20px; color: #545658; text-decoration: none; text-align: center; }
.do a:hover { color: #de211d; }
#forgot { width: 330px; }
#forgot a { font-size:12px; color: #545658; text-decoration: none; }
#forgot a:hover { color: #4f9ef0; font-size:12px; }
.input { background: url("/images/en/textarea-bg.png") no-repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; color: #333333; font-size: 12px; height: 22px; line-height: 22px; font-size: 16px; padding: 9px 12px; font-family: arial; }
.form-line { background-color: #fff; clear: both; float: left; padding-bottom: 10px; margin-top: -10px; width: 400px; }
.form-tit { color: #666666; font-weight: bold; line-height: 40px; margin-right: 3px; width: 400px; }
.form-code img { cursor: pointer; float: left; }
.form-code a { display: block; float: left; height: 40px; line-height: 40px; padding-left: 10px; }
a:link, a:visited, a:active { color: #D75A46; text-decoration: none; }
#check { width: 380px; height: 30px; background: url(/statics/img/cn/form/loginRadio.gif) no-repeat 0 -1px; overflow: hidden; }
#check a { display: block; font-size: 16px; width: 50px; height: 26px; padding-left: 25px; float: left; margin-right: 10px; color: #666666; }
#check a:hover { color: #4f9ef0; }
#message { background-color: #d75a46; border: 10px solid #B1AFAF; color: #ffffff; font-size: 14px; height: 90px; left: 95px; padding: 20px; position: absolute; top: 70px; width: 300px; display: none; }
