.summer{
}
.summaryDefault {
    padding-top: 13px;
    padding-bottom: 20px;
}
.summer .trade-item-title{
    padding: 0px;
    border-bottom: 1px solid #E4E4E4;
}
.trade_summary .trade-item-title .btnRecount{
    position: relative;
    top:8px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    z-index: 10;
}
.trade_summary .btnRecount i{
    display: block;
    width: 24px;
    height: 24px;
    font-size: 13px;
    font-family: iconfont;
    font-style: normal;
    color: #999;
    text-align: center;
}
.trade_summary .btnRecount:hover i{
    background: #f5f6f7;
}
.trade_summary .btnRecount div{
    position: absolute;
    top:-30px;
    left: -30px;
    width: 80px;
    padding: 0 12px;
    background: #e2ebf1;
    border:#7aa5bf solid 1px;
    text-align: center;
    display: none;
}
.trade_summary .btnRecount:hover div{
    display: block;
}
.trade_summary .btnRecount div span{
    position: relative;
    z-index: 10;
}
.trade_summary .btnRecount div:after{
    content: " ";
    position: absolute;
    left: 35px;
    bottom: -6px;
    display: block;
    width: 10px;
    height: 10px;
    background: #e2ebf1;
    border:#7aa5bf solid 1px;
    border-left: 0;
    border-top: 0;
    transform:rotate(45deg);
}
.summer .summaryDefault{
    padding: 12px 16px 20px;
}
.summaryDefault p{
    margin: 7px 0 0;
}
.summaryDefault .def-box {
    margin-bottom: 17px;
    padding: 5px 0 13px 0;
    border-bottom: 1px solid #E4E4E4;
}

.summaryDefault .def-box .buy-sum,
.summaryDefault .def-box .sell-sum {
    float: left;
    width: 50%;
}

.summaryDefault .def-box .buy-sum {
    border-right: 1px solid #E4E4E4;
}

.summaryDefault .buy-sum p {
    padding: 0 15px 4px 0;
    font-size: 12px;
    line-height: 15px;
}

.summaryDefault .buy-sum p:first-child,
.summaryDefault .sell-sum p:first-child{
    margin-top: 0;
}

.summaryDefault .sell-sum p {
    padding: 0 0 4px 11px;
    font-size: 12px;
    line-height: 15px;
}

.summaryDefault p em {
    float: right;
    font-style: normal;
}

.summaryDefault p em.green {
    color: #2BB38A;
}

.summaryDefault p em.red {
    color: #E34B51;
}

.summaryDefault .re-summary {
    padding-top: 3px;
}

.summaryDefault .re-summary a {
    display: inline-block;
    padding: 8px 0;
}

.summaryDefault .re-summary button {
    float: right;
    width: 109px;
    padding: 9px 10px;
    background: #FFF;
    border: 1px solid #d7d7d7;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
}
.summaryDefault .re-summary button:hover {
    background: #F5FCFE;
}