/* CSS Document */

body { background-color: #fafafa; }
.main { margin: 0px auto 20px; width: 1200px; overflow: hidden; }
.tab { position: relative; margin-left: -1px; float: left; left: 1px; width: 200px; }
.tab a { background: #f3f3f3 url(/statics/img/back-bg.png) repeat-x 0 0; border: 1px #e8e8e8 solid; border-right: 1px #dbdbdb solid; margin-top: -1px; display: block; height: 50px; line-height: 50px; text-align: right; padding-right: 20px; font-weight: bold; font-size: 14px; color: #666666; position: relative; }
.tab a:hover { color: #317EE7; text-decoration: none; }
.tab a.current, .tab a.current:hover { background: #fff; color: #333333; position: relative; border-right: none; border-top: none; margin-top: -1px; top: 1px; }
.online-qa { overflow: hidden; zoom: 1; width: 999px; float: right; border: 1px #dbdbdb solid; border-top: none; background-color: #fff; text-align: left; }
.question { padding: 20px; }
.question .hd { background: none repeat scroll 0 0 #F8F8F8; font-size: 26px; padding: 10px 0 10px 20px; }
.question .bd { padding: 20px 10px 0 10px; }
.question .bd h3 { font-size: 12px; color: #333333; }
.question .bd .time { color: #666666; border-bottom: 1px #E4E4E4 solid; padding: 5px 0 10px 0; }
.question .bd .cont { line-height: 24px; color: #999999; padding: 10px 0 0 0; }
.answer { padding: 0 20px; }
.answer .hd { background: none repeat scroll 0 0 #F8F8F8; font-size: 26px; padding: 10px 0 10px 20px; background: #eff9ed; color: #198500; }
.answer .bd { padding: 20px; }
.answer .bd .tit { font-size: 14px; }
.answer .bd .cont { padding: 10px 0; color: #666666; line-height: 22px; }
.answer a:hover { text-decoration: none; }
.yhelp { padding-top: 30px; }
.yhelp_hd { background: none repeat scroll 0 0 #F6F6F6; font-size: 22px; height: 50px; line-height: 30px; margin: 15px 0 0; overflow: hidden; padding: 10px 0 10px 10px; }
.yhelp_bd { padding: 50px 0 10px 200px; overflow: hidden; zoom: 1; }
.yhelp_bd i { color: #D5231A; display: block; font-family: Arial; font-size: 36px; font-style: normal; font-weight: bold; line-height: 36px; margin: 0 0 5px; }
.BoxWeak, .BoxStrong { background: url(/statics/img/od_hpj.png) no-repeat scroll 0 0  transparent; display: block; float: left; height: 100px; margin-right: 45px; padding-top: 22px; text-align: center; width: 97px; }
.BoxStrong .advantage { background: url(/statics/img/od_hq.png) no-repeat scroll 0 0 transparent; display: block; height: 24px; margin: 0px 0 0 9px; padding-left: 18px; font-size: 14px; }
.BoxWeak .disadvantage { background: url(/statics/img/od_hr.png) no-repeat scroll 0 0 transparent; display: block; height: 24px; margin: 0px 0 0 9px; padding-left: 18px; font-size: 14px; }
.search-submit { background: url(/statics/img/uButton2.gif) no-repeat scroll -2px -6px  transparent; display: inline-block; height: 36px; line-height: 36px; text-align: center; width: 80px; }
.search-submit:hover { background-position: -2px -49px; }
.bdf.on { background: url(/statics/img/back-bg.png) repeat-x scroll 0 0 #F3F3F3; }
#pagename h2 { width: 590px; }
#pagename .topright { width: 300px; text-align: right; }
