.chart-page {
  background:transparent;
}
.chart-page .pane-legend-icon-container svg {
  fill: #61688A;
}

.chart-page .tv-side-toolbar .tools-group .button {
  background-color: #FFFFFF;
  border-color: #3C4250;
}

.chart-page .tv-side-toolbar .tools-group .button .main.text-as-icon {
  color: #4e5b85;
}

.chart-page .tv-side-toolbar .tools-group .button svg {
  fill: #4e5b85;
}

.chart-page .tv-side-toolbar .tools-group .button.selected, .chart-page .tv-side-toolbar .tools-group .button:hover, .chart-page .tv-side-toolbar .tools-group .button:active {
  background-color: #2c3b59;
  border-color: #2c3b59;
}

.chart-page .tv-side-toolbar .tools-group .button.selected svg, .chart-page .tv-side-toolbar .tools-group .button:hover svg, .chart-page .tv-side-toolbar .tools-group .button:active svg {
  fill: #c7cce6;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .main.text-as-icon, .chart-page .tv-side-toolbar .tools-group .button:hover .main.text-as-icon, .chart-page .tv-side-toolbar .tools-group .button:active .main.text-as-icon {
  color: #c7cce6;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .side, .chart-page .tv-side-toolbar .tools-group .button:hover .side, .chart-page .tv-side-toolbar .tools-group .button:active .side {
  border-left: 1px solid transparent;
}

.chart-page .tv-side-toolbar .tools-group .button:active svg {
  fill: #4e5b85;
}

.chart-page .charts-popup-list {
  background-color: #FFFFFF;
  color: #4e5b85;
  border:none;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.chart-page .charts-popup-list .separator {
  border-top: 1px solid #c1c8ec;
}

.chart-page .charts-popup-list .item {
  background-color: #FFFFFF;
  color: #5F6575;
}

.charts-popup-list .item span{
  color: #5F6575;
}
.chart-style-popup .item svg{
  fill: #5F6575;
  color: #5F6575;
}



.favored-list-container.active span.submenu, 
.favored-list-container span.submenu.active{
  background: #EDEFF4;
}
.charts-popup-list .item.active, 
.feature-no-touch .charts-popup-list .item:hover{
  background-color: #EDEFF4;
  color: #6687D3;
}


.chart-page .charts-popup-list .item.active {
  background-color:#EDEFF4;
  color: #c7cce6;
}

.chart-page .charts-popup-list .icon-wrap svg {
  fill: #4e5b85;
}

.chart-page .list-inner .item {
  background-color: #FFFFFF;
}

.chart-page .list-inner .item.active {
  background-color: #2c3b59;
}

.chart-page .list-inner .item.active svg {
  fill: #c7cce6;
}

.chart-page .list-inner .item.active span.title {
  color: #c7cce6;
}

.chart-page .list-inner .item span.title {
  color: #4e5b85;
}

.chart-page .favored-list-container span:hover {
  background-color: #f9f9fc;
}

.chart-page .tv-floating-toolbar {
  background-color: #2c3b59;
  border-color: #c7cce6;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__drag, .chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper input {
  background-color: #FFFFFF;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__drag svg, .chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper input svg {
  fill: #4e5b85;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__widget {
  border-color: #3C4250;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__widget svg {
  fill: #4e5b85;
}

.chart-page .tv-floating-toolbar .tv-floating-toolbar__widget-wrapper .tv-floating-toolbar__widget .bg {
  fill: #FFFFFF;
}

.chart-page .apply-common-tooltip {
  background-color: #FFFFFF;
  border: 1px solid transparent;
  color: #9194a4;
}

.chart-page .apply-common-tooltip:before {
  border: 1px solid transparent;
}

.chart-page .apply-common-tooltip svg {
  fill: #9194a4;
}

.chart-page .layout__area--left [class^="drawingToolbar-"] {
  background: #FFFFFF !important;
  border-right: 1px solid #E3E4E8;
}

.chart-page .layout__area--left [class^="separator-"] {
  opacity: .2;
}

.chart-page [class^="menu-"] {
  background: #FFFFFF !important;
}

.chart-page [class^="item-"] {
  background: transparent !important;
}

.chart-page [class^="labelRow-"], .chart-page [class^="icon-"] {
  color: #9194a4;
}

.chart-page [class^="labelRow-"] svg, .chart-page [class^="icon-"] svg {
  fill: #9194a4;
}

.chart-page [class*="isActive-"]:hover [class^="bg-"] {
  background: #FFFFFF !important;
}

.chart-page [class*="isActive-"] [class^="bg-"] {
  background: transparent;
}

.chart-page .chart-controls-bar {
  background-color: #FFFFFF;
}

.chart-page .tv-side-toolbar .tools-group .button:hover, .chart-page .header-chart-panel .tools-group .button:hover {
  background-color: #2C3B59;
}

.chart-page .tv-side-toolbar .button:hover, .chart-page .header-chart-panel .button:hover {
  background: #2C3B59;
}

.chart-page .tv-side-toolbar .group, .chart-page .header-chart-panel .group {
  float: left;
}

.chart-page .tv-side-toolbar .group .button, .chart-page .header-chart-panel .group .button {
  font-weight: normal;
  color: #9194a4;
  cursor: pointer;
}

.chart-page .tv-side-toolbar .group .button svg, .chart-page .header-chart-panel .group .button svg {
  fill: #9194a4;
}

.chart-page .tv-side-toolbar .group .button:hover, .chart-page .tv-side-toolbar .group .button.selected, .chart-page .header-chart-panel .group .button:hover, .chart-page .header-chart-panel .group .button.selected {
  background: #f9f9fc;
}

.chart-page .tv-side-toolbar .group .button:hover svg, .chart-page .tv-side-toolbar .group .button.selected svg, .chart-page .header-chart-panel .group .button:hover svg, .chart-page .header-chart-panel .group .button.selected svg {
  fill: #9194a4;
}

.chart-page .tv-side-toolbar .group .button:active, .chart-page .header-chart-panel .group .button:active {
  color: #4e5b85;
}

.chart-page .tv-side-toolbar .group .button:active svg, .chart-page .header-chart-panel .group .button:active svg {
  fill: #4e5b85;
}

.chart-page .tv-side-toolbar .header-group-fullscreen, .chart-page .header-chart-panel .header-group-fullscreen {
  float: right;
  padding-right: 5px;
}

.chart-page .tv-side-toolbar .header-group-properties, .chart-page .tv-side-toolbar .header-group-indicators, .chart-page .header-chart-panel .header-group-properties, .chart-page .header-chart-panel .header-group-indicators {
  float: none;
}

.chart-page .tv-side-toolbar .tools-group:not(:first-child):not(.no-delimiter):before {
  background: #4e5b85;
}

.chart-page .button svg {
  fill: #4e5b85;
}

.chart-page .tv-side-toolbar {
  border-right: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .side {
  border-left: 1ps solid transparent;
}

.chart-page .tv-side-toolbar .tools-group .button.selected .side, .chart-page .tv-side-toolbar .tools-group .button.selected .main {
  background: #2C3B59;
}

.chart-page .chart-container {
  background-color: #FFFFFF;
  border: 1px solid transparent;
}

.chart-page .tv-close-panel {
  background-color: #fff;
  border: none;
}

.chart-page .button {
  background-color: #FFFFFF;
  border-color: #f9f9fc;
}

.chart-page .button:hover {
  background-color: #f9f9fc;
}

.chart-page .button.selected, .chart-page .button.active {
  background-color: #f9f9fc !important;
}

.chart-page .button.selected svg, .chart-page .button.active svg {
  fill: #FFFFFF;
}
.favored-list-container span.submenu.interval-dialog-button{
  border-color: #f9f9fc;
  border-left:none;
}
.favored-list-container span.submenu.apply-common-tooltip{
  border-color: #f9f9fc;
  border-left:none;
  cursor: pointer;
}

.header-chart-panel .header-chart-panel-sizer{
  border-bottom: 1px solid #E3E4E8;
  padding-bottom: 5px;
}
.favored-list-container.study-template-widget .submenu{
  border-color:#f9f9fc;
}
.favored-list-container .quick span:first-child{
  border-color:#f9f9fc;
  cursor: pointer;
}
.button.indicators:not(:only-child){
  border-right: 1px solid #f9f9fc;
  border-color:#f9f9fc;
}

.scrollBot-1mx_BeXt-.isVisible-3nZyQUEX-, 
.scrollTop-2G6k9HF0-.isVisible-3nZyQUEX-{
  background:#DFE0E6;
  opacity:1;
}
.scrollBot-1mx_BeXt-.isVisible-3nZyQUEX- [class^="icon-"], 
.scrollTop-2G6k9HF0-.isVisible-3nZyQUEX- [class^="icon-"]{
  background:#DFE0E6;
  color:#9294A4;
}
.button-12d2ecdm-, 
.button-12d2ecdm- .bg-YlLYd-yv-{
  transition: none;
}
.button.fullscreen, 
.header-chart-panel .button.fullscreen{
  border:none;
}
.button.fullscreen:hover, 
.chart-page .header-chart-panel .group .button.fullscreen:hover::before{
  border:none;
}
.chart-page .header-chart-panel .group .button.fullscreen:hover{
  background:transparent;
}
.header-chart-panel .group{
  cursor: pointer;
}
.feature-no-touch .button-12d2ecdm-:hover .icon-1Aj0C0n9- svg{
  fill:#3BB3E4;
}
.feature-no-touch .button-12d2ecdm-:hover .bg-YlLYd-yv- .buttonIcon-1rzHc9wf-{
  color:#3BB3E4;
}


.tv-dialog__section,.tv-search-row {
  border-bottom-color: #dadde0;
}
.tv-dialog {
  background: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(35,35,35,.4);
  color: inherit;
}
.tv-dialog__title{
  font-size: 14px;
  color: inherit;
}
.feature-no-touch .tv-insert-study-item:hover {
  background-color: #f2f3f5;;
  color: inherit;
}
.tv-insert-indicator-dialog__search-control input{
  background-color:#ffffff;
}
.tv-search-row__search-icon svg{
  fill:#adaeb0;
}
.tv-dialog__close{
  color:inherit;
}
.tv-tabbed-dialog {
  background-color: #ffffff;
  color: #4a4a4a;
}
.tv-tabs__tab.i-active{
  color: #4a4a4a;
}
.tv-objects-tree-item{
  color: #262b3e;
  border-bottom-color: #e9eff2;
}
.tv-objects-tree-tab__group:not(:last-child) {
  border-bottom: 1px solid;
  border-bottom-color: #dadde0;
}
.tv-tabbed-dialog__bottom-border{
  background-color: #dadde0;
}
.tv-dropdown__body{
  color: inherit;
  background-color: #ffffff;
}
.feature-no-touch .tv-objects-tree-item:hover, 
.tv-objects-tree-item.ui-sortable-helper{
  background-color: #f1f3f6;
  transition-duration: .06s;
}
.tv-tabs:before{
  background-color: #dadde0;
}
.tv-dropdown__item.i-active {
  color: #4a4a4a;
  background-color: #eafafe;
}
.tv-dropdown__item, 
.tv-dropdown__item:visited{
  color:#2f3241;
}
.tv-dropdown__item:hover, 
.tv-dropdown__item:visited:hover{
  color: #4a4a4a !important;
  background-color: #eafafe !important;
}
.tv-objects-tree-item.i-active {
  background-color: #eafafe;
}
.icon-dui{
   display: inline-block;
   width:20px;
   height:20px;
   background-image: url(./images/icon-dui.png);
   background-repeat: no-repeat;
}