
.mask {
    background: #000;
    opacity: 0.5;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999999;
}
.confirm_content {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-240px,-110px);
    transform: translate(-240px,-110px);
    /*opacity: 0.9;*/
    background: #2F323F;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.20);
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 14px;
    min-width: 480px;
    z-index: 999999999;
    padding: 30px 40px 10px;
    text-align: center;
}
.confirm_content img {
    width: 48px;
    height: 44px;
    margin-bottom: 20px;
}
.no_show {
    display: none;
}
.icon_label {
    font-size: 44px !important;
    line-height: 44px;
    height: 44px;
    margin-bottom: 20px;
}
.confirm_title {
    font-size: 18px;
    margin: 10px 0px 20px;
}
.confirm_main_content {
    font-size: 16px;
    margin-bottom: 40px;
}
.margin_r0 {
    margin-right: 0px !important;
}
.but_box {
    margin: 0 auto;
}













